bancos/mysql/*
bancos/postgresql/*
bancos/mongo/db/*
bancos/redis/db/*
!bancos/redis/db
!bancos/mongo/db
!bancos/mysql/Dockerfile
!bancos/postgresql/Dockerfile
.ash_history
sites/*
!sites/teste
nginx/*.conf
apache/sites-available/*
!apache/sites-available/000-default.conf
!apache/sites-available/default-ssl.conf
!apache/sites-available/site.conf
.vscode
react-native/Android/*
zabbix/*/
